.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  font-size: 4rem;
  font-weight: 600;
}

.name {
  font-size: 3rem;
  font-weight: 500;
}

.info-container {
  display: flex;
  width: 100vw;
}

.brendan-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
}
.erin-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
}
.counter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.count-number {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

input {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 2rem;
}

button {
  border-radius: 5px;
  background-color: transparent;
  font-size: 2rem;
  font-weight: 600;
  border: none;
  padding-top: 15px;
  padding-left: 15px;
}

footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .counter-container {
    flex-direction: column;
  }
  .name {
    font-size: 2.5rem;
  }

  button {
    padding-left: 0;
  }
}
